* {
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

/*....................................................*/
/*.....................Header.........................*/
/*....................................................*/

.navbar-brand {
  margin-left: 10px;
}

nav {
  background-color: rgba(217, 217, 217, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar-toggler .close-icon {
  border-color: black;
  border-radius: 6px;
  border-width: 2px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  /* This SVG sets the icon's color to black */
}

/* Hamburger icon to close icon transition */
.navbar-toggler .close-icon {
  display: none;
}

.navbar-toggler.collapsed .close-icon {
  display: inline-block;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  display: none;
}

.nav-link {
  height: 100%;
  padding: 0 30px;
  margin: 0 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.nav-link:hover {
  text-decoration: none;
  color: #ff3d24;
  transition: all 0.3s ease;
}

.nav-bar-border {
  opacity: 0.5;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.3490196078);
  width: 100%;
}